# Ansible
roles/
*.retry
vault-password

# Terraform (.tf конфиги коммитим, state и tfvars — нет)
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
tfplan
terraform/.terraform/

# IDE / OS
.idea/
.DS_Store

# Local artifacts
local/

# Docs
docs/
